<div class="wrapper">
	<div id="main">
		<header class="well">
			<div class="container">
				<div class="content">
					<div class="col-md-2">
						<a href="#/">
							<img src="~/Images/logo.jpg" alt="logo" />
						</a>
					</div>
					<div class="col-md-6">
						<div search></div>
					</div>
					<div class="col-md-3">
						<div user class="user"></div>
						<br class="clearfix" />
					</div>
				</div>
			</div>
		</header>
		<section class="container main">
			<div class="row" ui-view></div>
		</section>
	</div>
</div>
<footer class="well a-center footer">
		Copyrights &copy; 2014
</footer>