<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
	#id={{item.id}}<br />
    You want to delete {{item.name}}
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="apply()">Apply</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
